:root {
  --app-bg: #23201f;
  --bg-color-headerBg: linear-gradient(90deg, #1e9146 -13.95%, #2c2c2c 83.91%);
  --bg-headerDeskNavMenu: #23201f;
  --bg-headerDeskNavmenuEle: #48494b;
  --bg-color-primary: #333;
  --bg-color-quaternary2: #545454;
  --bg-active-primary: #e1f038;
  --text-primary: #171716;
  --menu-bg: rgb(4, 20, 26);
}
